@inject SignInManager<CustomUser> SignInManager

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Config.CompanyName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")

    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <div class="container-fluid">
                    <div class="row">
                        @{
                            if (SignInManager.IsSignedIn(User))
                            {
                                @await Html.PartialAsync("LeftSideMenuPartial")

                                <div class="col-9 col-12-medium">
                                    <div id="content">
                                        <article>
                                            @RenderBody()
                                        </article>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-12-medium">
                                    <div id="content">
                                        <article>
                                            @RenderBody()
                                        </article>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("FooterPartial")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


@await Html.PartialAsync("_ValidationScriptsPartial")