@model IQueryable<Dialog>
@{
    ViewBag.Title = "Мои сообщения";
}

<h3>Сообщения с:</h3>
<div>
    @if (Model.Count() < 1)
    {
    <h4>У вас нет начатых диалогов</h4>
    }
    else
    {
        foreach (var dialog in Model)
        {
            <div class="row">
                <a class="nav-link nav-item" asp-action="ShowDialogById" asp-route-guid="@dialog.Id">
                    @foreach (var member in dialog.UserMembers)
                    {
                        <b>@member.UserProfile.Name @member.UserProfile.SurName   </b>
                    }
                </a>
            </div>
        }
    }

</div>